/****** General ***********/

* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

/****** header *******/

.entete{
margin-top: -7px;
}
/***** body *****/

body {
    display: flex;
    justify-content: center;
}
main{
    margin-left: 30px;
}

/******** Tout mes flex ******/
.flexCenter{
    display:flex ;
    justify-content: center;
    align-items: center;
}
.flexBetween{
    display:flex ;
    justify-content: space-between;
    align-items: center;
   
}
.flexAround{
    display:flex ;
    justify-content: space-around ;
    align-items: center;
}
/**** Les none ****/
.DecorationNone{
    text-decoration: none;
}
.borderNone{
    border: none;
}
/***** mes liens de navigation et leur couleurs ****/
.entete img{
    width: 80px;
    padding-left: 10px;
}

.sizeLiens{
    margin-top: none;
    width : 20%
}
.sizeLien {
    width: 140px;
    height: 80px;
}
.colorLiens1{
    color: #000000;
}
.colorLiens2{
    color: #0065FC;
}
.bordureLien{
    border-top: #0065FC 2px solid;
}
.rechercheBordure{
    border: 1px solid #F2F2F2;
}

/*******Toute mes couleurs *****/
.colorBleu{
    color: #0065FC;
}
.colorBleucClaire{
    color: #DEEBFF;
}
.colorGris{
    color: #F2F2F2;
}
.colorNoir{
    color: #000000;
}

.backBleu{
    background-color: #0065FC;
}
.backBleuClaire{
    background-color: #DEEBFF;
}
.backGris{
    background-color: #F2F2F2;
}

/***** Bar de recherche ***/
.bar-recherche{
    display: flex;
    flex-direction: row;
    margin-top: 40px;
    
}
.iconSize{
    width: 5%;
    height: 50px;
    background-color:#F2F2F2;
    color: #000000;
    border-radius: 15px 0 0 15px;
}
.iconSize i{
    align-self: center;
}
.boutonRecherche{
    width: 8%;
    height: 50px;
    color: white;
    cursor: pointer;
    border-radius: 0 15px 15px 0;
}
.DeskNone{
    display: none;
}
.recherche{
    height: 50px;
    width: 18%;
}
.recherche input{
    width: 100%;
    height: 50px;
    font-size: 20px;
    font-weight: bold;
    padding-left: 20px;
}
/**** Filtres *****/

.filtres{
    display: flex;
    align-items: center ;
    margin-top: 50px;
    margin-bottom:30px;
}
.filtre1{
    display: flex;
    flex-direction: row;
    margin-left: 10px;
}
.filtre2{
    display: flex;
    flex-direction: row;
}
.filtreBox{
    height: 50px;
    border: #F2F2F2 2px solid;
    border-radius: 30px ;
    margin-right: 20px;
}
.filtresTexte{
    height: 50px;
    padding-right: 20px;
}
.filtresIcone{
    height: 52px;
    width: 52px;
    border-radius: 25px;
    color: #0065FC;
    
}

.filtreBox:hover {
    
    background-color: #DEEBFF;
}

/****** paragraphe info *****/
.infoIcone{
    width: 20px;
    height: 20px;
    border: 2px solid #F2F2F2;
    border-radius: 25px;
    margin-right: 5px;
}
.iconeParaInfo{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

/******   ******/
.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutralStar {
    color: var(--main-bg-color)
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: #F2F2F2;
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/

.hebergements {
    width: 68%;
}

.hebergements-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.hebergements-cards {
    display: inline-flex;
    flex-direction: column;
    width: 100%;

}
.hebergements-cards .container1{
    width: 100%;
    display: flex;
    flex-direction: row; 
    gap: 30px;
}
.hebergements-cards .container2{
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 30px;
   
}
.hebergements-cards .card {
    display: flex;
    flex-direction: column;
    margin-top: 33px;
    width: 100%;
    
}

.hebergements-cards img {
    width: 100%;
    height: 120px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.hebergements-cards .card-content {
    width: 100%;
    height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    padding-left: 10px;
}

.hebergements-cards .card-title {
    margin-top: 5px;
    margin-bottom: 2px;
}

.hebergements-cards .card-subtitle {
    margin-bottom: 2px;
    font-size: 14px;
}

.hebergements-cards .card-rating {
    margin-bottom: 2px;
    margin-top: 5px;
}

.afficherPlus{
    margin-top: 10px;
    margin-bottom: -25px;
}
/****** Populaires ***********/
.populaires {
    width: 28%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/***** Activites marseille*****/
.activites {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 100px;
    
}
.activites-title {
    margin: 60px 50px 50px ;
}
.activites-cards{
    display: flex;   
    flex-direction: row;
    width: 100%;
    gap: 30px;
}
.activites-cards .card-content{
    display: flex;
    flex-direction: column;
    width: 100%;  
    background-color: #ffffff;
    border-radius: 15px ;
    box-shadow: 1px 1px 1px 2px #F2F2F2
}
.activites-cards .card-content img{
width: 100%;
height: 400px;
border-top-left-radius:15px;
border-top-right-radius: 15px;
}
.activites-cards .card-content h4{
    height: 20px;
    margin-top: 0px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    padding-left: 10px;
    padding-top: 20px;
}


/****** footer *****/
footer{
background-color: #F2F2F2;
padding: 30px;
margin-top: 50px;
box-sizing: border-box;
}
nav{
display: flex;
justify-content: space-between;
width: 80%;
margin-left: 20px;
}
.footerLienMarg{
    margin-top: 10px;
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards .card {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    /* ... */
/**  header **/
   /***** mes liens de navigation et leur couleurs ****/ 

.entete{
    display: flex;
    flex-direction: column;
}
.entete img{
    width: 140px;
    height: 40px;
    margin-top: 50px;
}
.sizeLiens{
    width: 100%;
    display: flex;
    flex-direction: row;  
}
.sizeLien {
    width: 50%;
    height: 100px;
    font-size: 30px;
}
.bordureLien{
    border-top: none;
}
.bordureLienM-B{
    border-bottom: #0065FC 2px solid;
    size:150%;
}
.bordureLienM-G{
    border-bottom:  #F2F2F2 2px solid;
    size: 150%;
}


/****** body ****/
    body {
        display: flex;
        justify-content: center; 
    }

.hebergements-and-populaires {
        width: 100%;
        
    }
/****** textes debut *******/
.txtsDebut{
    
    font-size:20px;
}
/****** paragraphe info *****/
.infoIcone{
    width: 80px;
    height: 70px;
    border: 5px solid #F2F2F2;
    border-radius: 60px;
    margin-right: 15px;
}
.iconeParaInfo{
    display: flex;
    align-items: center;
    font-size: 20px;
    margin-top: 50px;
}
.iconeParaInfo i{
    font-size: 40px;
}
    /***** Bar de recherche ***/
.bar-recherche{
    font-size: 50px;
    width:100%;
    margin-top: 50px;
}
.iconSize{
    width: 20%;
    height: 80px;
    background-color: rgb(232, 232, 232);
    color: #000000;
    border-radius: 15px 0 0 15px;
}
.iconSize i{
    padding-left: 8px;
    font-size: 40px;
}
.boutonRecherche{
    width: 20%;
    height: 80px;
    color: white;
    cursor: pointer;
    border-radius: 0px 20px 20px 0px;
}
.boutonReNone{
    display: none;
}
.DeskNone{
    color: white;
    display: block;
    font-size: 60px;
    align-items: center;
}
.PaddingLeft{
    padding-left: 20px;
}
.recherche{
    width: 80%;
    height: 80px;
    font-size: 50px;
    text-align: center;
    color: #000000;
    font-weight: bold; 
}
.recherche input{
    width: 100%;
    height: 80px;
    font-size: 40px;
}
/**** Filtres *****/
.filtreNone{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    margin-left: 10px;
    margin-top: 5px;
    margin-bottom:5px;
}
.filtreMarg{
    font-size: 30px;
    
}
.filtre1{
    display: flex;
    flex-direction: row;
    margin-bottom: 40px;
}
.filtre2{
    display: flex;
    flex-direction: row;
    
}

.filtreBox{
    height: 80px;
    width: 90%;
    border: #F2F2F2 3px solid;
    border-radius: 50px ;
    margin-right: 10px; 
    padding-right: 10px;
}
.filtresTexte{
    font-size: 30px;
    
}
.filtresIcone{
    font-size: 30px;
    margin-left: 20px;
    border-radius: 25px;
    color: #0065FC;

}

/****** Populaires mobile***********/
.populaires {
    display: flex;
    flex-direction: column;
    width: 100%;
    order: 1;
    background-color: #f2f2f2;
    margin-top: 50px;
}

.populaires-title h2{
    font-size: 50px;
}
.populaires-cards{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}
.populaires-cards .card {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    margin-top: 33px;
}

.populaires-cards img {
    width: 40%;
    height: 300px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 58%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    
}
.populaires-cards .card-txt{
    width: 100%;
    display: flex;
    padding-bottom: 120px;
    flex-direction: column;
    
}
.populaires-cards .card-subtitle {
    margin: 0;
    font-size: 30px;
}
.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
    font-size: 30px;
}
.populaires-cards .card-rating {
    width: 100%;
    margin-bottom: 5px;
    font-size: xx-large;
    
}
/****** Hebergements  mobile***********/

.hebergements {
    width: 100%;
    align-items: center;
    margin-top: 100px;
    order: 2;
    background-color: #ffffff;
}

.hebergements-title  h2{
font-size: 50px;    
}
.hebergements-cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.hebergements-cards .container1{
    width: 100%;
    display: flex;
    flex-direction: column; 
    align-items: center;
    margin-bottom: 40px;
}
.hebergements-cards .container2{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.hebergements-cards .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 33px;
    width: 100%;
    height: 100%;
    
}

.hebergements-cards img {
    width: 100%;
    height: 300px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.hebergements-cards .card-content {
    width: 100%;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.hebergements-cards .card-title {
    font-size: 30px;
}

.hebergements-cards .card-subtitle {
    font-size: 30px;
}

.hebergements-cards .card-rating {
    font-size: 30px;
    margin-bottom: 5px;
}

.afficherPlus{
    
}

   /***** Activites marseille mobile*****/
   .activites {
    display: flex;
    flex-direction: column;
    width: 100%;
    
}
.activites-title {
    margin: 0;
    text-align: center;
}
.activites-cards{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 20%;
    margin-top: 20px;
    gap: 20px;
    border-radius: 20px;
}
.activites-cards .card{
width: 100%;
justify-content: center;

}
.activites-cards .card-content{
    height: 400px;
    width: 100%;

}
.activites-cards .card img{
    height: 300px;
    width: 100%;
    margin-bottom: 10px;
    justify-content: center;
}

.activites-cards h4{
    font-size: 30px;
}
/****** footer *****/
footer{
 width: 100%;
}
footer nav{
    font-size: 50px;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-content: space-between;
}
}
