/****** General ***********/

* {
    
    font-family: 'Raleway', sans-serif;
}
header{
    margin: 0 50px 0 30px;
}
body{
    max-width: 1440px;
    margin: auto;
}
main{
   margin: 50px; 
}
footer{
margin:0 50px 0 50px;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid{
    color: var(--main-color)
}
.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutralStar {
    color: var(--main-bg-color)
}
/***** body *****/

/******** Tout mes flex ******/
.flexCenter{
    display:flex ;
    justify-content: center;
    align-items: center;
}
.flexBetween{
    display:flex ;
    justify-content: space-between;
    align-items: center;
   
}
.flexAround{
    display:flex ;
    justify-content: space-around ;
    align-items: center;
}
/**** Les none ****/
.DecorationNone{
    text-decoration: none;
}
.borderNone{
    border: none;
}
/***** mes liens de navigation et leur couleurs ****/
.entete img{
    width: 80px;
}

.sizeLiens{
    width : 20%;
}
.sizeLien {
    width: 50%;
    height: 80px;
}
.colorLiens2{
    color: #000000;
}
.colorLiens2:hover{
    color: #0065FC;
}
.bordureLien{
    border-top: white 2px solid;
}
.bordureLien:hover{
    border-top: #0065FC 2px solid;
} 

.rechercheBordure{
    border: 1px solid #F2F2F2;
}

/*******Toute mes couleurs *****/
.colorBleu{
    color: #0065FC;
}
.colorBleucClaire{
    color: #DEEBFF;
}
.colorGris{
    color: #F2F2F2;
}
.colorNoir{
    color: #000000;
}

.backBleu{
    background-color: #0065FC;
}
.backBleuClaire{
    background-color: #DEEBFF;
}
.backGris{
    background-color: #F2F2F2;
}
/****** txtsDebut *******/

.txtsDebut p{
    font-size: 16px;
    margin-top: 10px;
}
.txtsDebut h4{
    font-size: 22px;
}
/***** Bar de recherche ***/
.bar-recherche{
    display: flex;
    flex-direction: row;
    padding-top: 30px;
}
.iconSize{
    width: 50px;
    height: 50px;
    background-color:#F2F2F2;
    color: #000000;
    border-radius: 15px 0 0 15px;
    border: none;
}
.iconSize i{
    align-self: center;
    width: 14px;
    height: 18px;
    padding-top: 15px;
    font-size: x-large;
}
.marseille-france{
    width:220px;
    height: 48px;
    padding-left: 20px;
    font-size: 18px;
    font-weight: bold;
}
.boutonRecherche{
    width: 128px;
    height: 50px;
    font-size: 18px;
    color: white;
    cursor: pointer;
    border: none;
    border-radius: 0 15px 15px 0;
}
.DeskNone{
    display: none;
}
::placeholder{
    color: #000000;
}
/**** Filtres *****/

.filtres{
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-top: 30px;
    margin-bottom:30px;
    gap: 10px;
}
.filtreMarg{
    font-size: 18px;
    margin-top: 0;
    
}
.filtres1-2{
    display: flex;
    flex-direction: row;
    margin-top: 10px;
}
.filtre1{
    display: flex;
    flex-direction: row;
}
.filtre2{
    display: flex;
    flex-direction: row;
}
.filtreBox{
    height: 50px;
    border: #F2F2F2 2px solid;
    border-radius: 30px ;
    padding: 0 10px 0 10px;
    margin-right: 10px;
    
}
.filtresTexte{
    font-size: 18px;
    padding-left: 10px;

}
.filtresIcone{
    height: 50px;
    width: 50px;
    border-radius: 25px;
    color: #0065FC;   
}

.filtreBox:hover {
    background-color: #DEEBFF;
}
/****** paragraphe info *****/
.infoIcone{
    width: 20px;
    height: 20px;
    border: 2px solid #F2F2F2;
    border-radius: 25px;
    margin-right: 5px;
}
.iconeParaInfo{
    display: flex;
    align-items: center;
    margin: 30px 0 30px 0px;
}

/******   ******/


/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    gap: 30px;
}

.hebergements-and-populaires section {
    background-color: #F2F2F2;
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/

.hebergements {
    width: 70%;
    height: 650px;
    margin-bottom: 30px;
    box-sizing: border-box;
    
}

.hebergements-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.hebergements-cards {
    display: inline-flex;
    flex-direction: column;
    width: 100%;
   

}
.hebergements-cards .container1{
    width: 100%;
    display: flex;
    flex-direction: row; 
    gap: 30px;
}
.hebergements-cards .container2{
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 30px;
   
}
.hebergements-cards .card {
    display: flex;
    flex-direction: column;
    margin-top: 33px;
    width: 100%;
    
}

.hebergements-cards img {
    width: 100%;
    height: 120px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    object-fit: cover;
}

.hebergements-cards .card-content {
    width: 100%;
    height: 90px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 10px 0px 20px 10px;
}

.hebergements-cards .card-title {
    margin-bottom: 2px;
    margin-top: 0;
}

.hebergements-cards .card-subtitle {
    font-size: 14px;
    margin-top: 7px;
}

.hebergements-cards .card-rating {
    margin-bottom: 5px;
    margin-top: 0;
}

.afficherPlus{
    margin-top: 10px;
    
}
/****** Populaires ***********/
.populaires {
    width: 30%;
    box-sizing: border-box;
    height: 650px;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    object-fit: cover;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/***** Activites marseille*****/
.activites {
    width: 100%;  
    box-sizing: border-box;
    padding: 0 30px 0 30px;
}
.activites-title {
  width: 100%;
}
.activites-cards{
    display: flex;   
    flex-direction: row;
    width: 100%;
    gap: 30px;
    margin-top: 40px;
}
.activites-cards a{
    display: flex;
    flex-direction: column;
    width: 100%;  
    background-color: #ffffff;
    border-radius: 15px ;
    box-shadow: 1px 1px 1px 2px #F2F2F2
}
.activites-cards .card-content img{
    width: 100%;
    height: 380px;
    border-top-left-radius:15px;
    border-top-right-radius: 15px;
    object-fit: cover;
}
.activites-cards .card-content h4{
    height: 30px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    padding-left: 10px;
    padding-top: 0;
}
/****** footer *****/
footer{
background-color: #F2F2F2;
margin-top: 50px;
box-sizing: border-box;
padding: 20px;
}
nav{
display: flex;
justify-content: space-between;
width: 80%;
margin-left: 30px;
}
.footerLienMarg{
    margin-top: 10px;
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    /*********** enetete *****/
    header{
        margin: 0 20px 0 50px;
    }
    
    .sizeLiens{
        width : 30%;
    }
    .sizeLien {
        width: 50%;
        height: 80px;
    }
    /***** Bar de recherche **/
.marseille-france{
width: 250px;
}
    /******** filtres ********/
    .filtres{
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .filtres1-2{
        margin-top: 0;
    }
    .filtreMarg{
        margin-bottom: 0;
    }
  

    .filtresTexte{
        font-size: 16px;
    }

    /******* hebergement and populaires******/
    .hebergements-and-populaires {
        flex-direction: column;
    }
    /******* hebergements********/

    .hebergements {
        width: 100%;
        
    }

    .populaires {
        width: 100%;
        height: 270px;
        margin-top: 30px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards .card {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
    /******* activites *******/
    .activites{
        margin-top: 50px;
    }
    .activites-cards .card-content img{
        height: 230px;
        object-fit: cover;
    }
    .activites-cards .card-content h4{
        padding-bottom: 10px;
        padding-top: 10px;
        height: 20px;
        font-size: 14px;
    
    }
}


/* Small devices (phones, less than 768px) */
@media (max-width: 768px) {
    /* ... */

    
    
/**  header **/
header{
    margin: 0;
}
main{
    margin:0 ;
}
main .main-1{
    margin:0 30px 0 30px;
}
body{
    width: 100%;
}
body main .hebergements-and-populaires .populaires{
    margin: 0;
}
footer{
    margin: 0;
}

   /***** mes liens de navigation et leur couleurs ****/ 
.entete{
    width: 100%;
    display: flex;
    flex-direction: column;
   
}
.entete img{
    width: 66px;
    height: 25px;
    padding: 50px 50px 0 50px;
}
.sizeLiens{
    margin-top: 0;
    width: 100%;
    flex-direction: row;  

}
.sizeLien {
    font-size: 16px;
}
.bordureLien:hover{
    border-top: none;
}
.colorLiens2{
    color: #000000;
}
.colorLiens2:hover{
    color: #0065FC;
}
.bordureLienM-G{
    border-bottom: #F2F2F2 2px solid;
}
.bordureLienM-G:hover{
    border-bottom: #0065FC 2px solid;
}
  

/****** textes debut *******/
.txtsDebut{
   font-size: 20px;
 
    
}
.txtsDebut h4{
    font-size: 18px;
    margin-bottom: 15px;
}
   
/****** paragraphe info *****/

.infoIcone{
    border: 1px solid #F2F2F2;
    border-radius: 20px;
    margin-left: 10px;
}
.iconeParaInfo p{
    font-size: 18px;
}
.iconeParaInfo i{
    width: 15px;
    height: 15px;
    padding-top: 15px;
    padding-left: 8px;
}
    /***** Bar de recherche ***/
   .bar-recherche{
    width: 100%;
    
   }
   .iconSize{
    width: 100px;
    height: 60px;
    background-color:#F2F2F2;
    color: #000000;
    border-radius: 15px 0 0 15px;
    border: none;
}
.iconSize i{
    align-self: center;
    width: 14px;
    height: 18px;
    padding-top: 15px;
    font-size: 22px;
}
.marseille-france{
    box-sizing: border-box;
    width: 400px;
    height: 60px;
    font-size: 16px;
    font-weight: bold;
    border-right: none;
}
.boutonRecherche{
    position: relative;
    left: -10px;
    width: 70px;
    height: 60px;
    cursor: pointer;
    border: none;
    border-radius: 15px 15px 15px 15px;
}
.boutonRecherche i{
    width:50px;
    font-size: 22px;
}
   .DeskNone{
    display: block;
    font-size: large;
    padding-left: 0px;
    padding-top: 5px;
    border: none;
   }
   .boutonReNone{
    display: none;
   }
/**** Filtres *****/
.filtres{
    width: 100%;
    margin-top: 5px;
}
.filtres1-2{
    flex-direction: column;
    gap: 20px;
    width: 100%;
}
.filtreMarg{
    padding-bottom: 5px;
    font-size: 18px;  
    
}
.filtre1{
    display: flex;
    flex-direction: row;
    margin-left: 0;
}
.filtre2{
    display: flex;
    flex-direction: row;
}

.filtreBox{
    width: 100%;
    height: 70px;
    border: #F2F2F2 2px solid;
    border-radius: 30px ;
}
.filtresTexte{
    position: inherit;
    font-size: 16px; 
    
}
.filtresIcone{
   width: 10px;
   height: 16px;
   
}

/****** hebergements-and-populaires ****/
.hebergements-and-populaires section  {
    background-color: #F2F2F2;
    border-radius: 0;
    padding: 50px;
    box-sizing: border-box;
}

/****** Populaires mobile***********/
.hebergements-and-populaires .populaires{
    display: flex;
    flex-direction: column;
    background-color: #F2F2F2;
    border-radius: 0;
    width: 100%;
    height: auto;
    box-sizing: border-box;
    
}
.populaires-title{
    width: 100%;
    display: flex;
    flex-direction: row;
}
.populaires-title h2{
    font-size: 22px;
}
.populaires .populaires-cards{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.populaires-cards .card {
    display: flex;
    flex-direction: row;
    width: 100%;
    border-radius: 20px;
    justify-content: center;
    
}

.populaires-cards img {
    border-radius: 20px 0 0 20px;
    width: 40%;
    height: 180px;
    object-fit: cover;
}

.populaires-cards .card-content {
    display: flex;
    padding-left: 20px;
    flex-direction: column;
    width: 60%;
}
.populaires-cards .card-txt{
    display: flex;
    flex-direction: column;
    width: 80%;
    
}
.populaires-cards .card-subtitle {
    font-size: 14px;
}
.populaires-cards .card-title {
    font-size: 16px;
}
/****** hebergements-and-populaires ****/
.hebergements-and-populaires .hebergements{
    background-color: #ffffff;
    width: 100%;
    height: auto;
}

/****** Hebergements  mobile***********/
.hebergements-and-populaires .hebergements{
    background-color: #ffffff;
    width: 100%;
    margin-bottom: 0;
}
.hebergements {
    margin-top: 20px;
    order: 2;
    width: 100%;
}
.hebergements-title {
font-size: 16px;    
}
.hebergements-cards .container1{
    width: 100%;
    display: flex;
    flex-direction: column; 
    align-items: center;
    gap: 15px;
}
.hebergements-cards .container2{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}
.hebergements-cards img {
    width: 100%;
    height: 160px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    object-fit: cover;
}

.hebergements-cards .card-content {
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    gap: 8px;
}
.hebergements-cards .card-title {
    font-size: 14px;
}
.hebergements-cards .card-subtitle {
    font-size: 14px;
}
.hebergements-cards .card-rating {
    font-size: 14px;      
    margin-top: 0; 

}
.afficherPlus{
    align-self: flex-start;
}
/***** Activites marseille mobile*****/
   .activites {
    display: flex;
    flex-direction: column;
    width: 98%;
    align-items: center;
    margin-bottom: 0;
    margin-top: 0;
    padding: 0 50px 50px 50px;
    box-sizing: border-box;
    
}
.activites-title {
    font-size: 16px;
}
.activites-cards{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.activites-cards .card-content img{
    width: 100%;
    height: 200px;
    object-fit: cover;
    
}
.activites-cards .card-content h4{
    font-size: 14px;
    margin-left:10px ;
    margin-bottom: 0px;
}

/****** footer *****/
footer{
 margin: 0;

 
}
footer nav{
    font-size: 16px;
    display: flex;
    flex-direction: column;
    align-content: space-between;
}
.footerContent{
    margin-top: 30px;
}

}
